
	/*选择日期开始*/
	.ryan-datepicker-v3 {
	    font-size: 16px;
	    position: fixed;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 8888;
	    color: #282828;
	}

	.ryan-datepicker-v3 .rdp-back {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 9999;
	    background: #000;
	    cursor: pointer;
	    opacity: .5;
	}

	.ryan-datepicker-v3 .rdp-front {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: #fff;
	    z-index: 10000;
	    color: #333;
	}

	.ryan-datepicker-v3 .rdp-nav {
	    // overflow: hidden;
	    // height: 0.48rem;
	    // line-height: 0.48rem;
	    // border-top: 1px solid #eee;
	    // border-bottom: 1px solid #eee;
        overflow: hidden;
	    height: 1rem;
	    line-height: 1rem;
	    border-top: 1px solid #eee;
	    border-bottom: 1px solid #eee;
	    font-size: 0.32rem;
	}

	.ryan-datepicker-v3 .rdp-nav .rdp-left {
	    float: left;
	    width: 20%;
	    text-align: center;
	    cursor: pointer;
	    color: #999;
	}

	.ryan-datepicker-v3 .rdp-nav .rdp-right {
	    float: right;
	    width: 20%;
	    text-align: center;
	    cursor: pointer;
	    color: #c91723;
	}

	.ryan-datepicker-v3 .rdp-nav .rdp-auto {
	    overflow: hidden;
	}

	.ryan-datepicker-v3 .rdp-switch {
	    width: 66.66%;
	    margin: 0.12rem auto;
	    border: 1px solid #c91723;
	    border-radius: 0.02rem;
	    overflow: hidden;
	    line-height: 0.68rem;
	    box-sizing: border-box;
	    display: flex;
	}

	.ryan-datepicker-v3 .rdp-switch span {
        display: inline-block;
	    vertical-align: top;
	    flex-grow: 1;
	    text-align: center;
	    cursor: pointer;
	    font-size: 0.28rem;
	}

	.ryan-datepicker-v3 .rdp-switch .rdp-mode-active {
	    color: #fff;
	    background-color: #c91723;
	}

	.ryan-datepicker-v3 .rdp-body {
	    position: relative;
	}

	.ryan-datepicker-v3 .rdp-layer-top {
	    position: absolute;
	    height: 0;
	    border-top: 1px solid #aaa;
	    /*-webkit-box-shadow: 0 0 .25rem #000;*/
	    /*box-shadow: 0 0 .25rem #000;*/
	    opacity: .3;
	    // top: 0.8rem;
	    top: 80px;
	    left: 0;
	    right: 0;
	    z-index: 0;
	}

	.ryan-datepicker-v3 .rdp-layer-bottom {
	    position: absolute;
	    height: 0;
	    border-top: 1px solid #aaa;
	    /*-webkit-box-shadow: 0 0 .25rem #000;*/
	    /*box-shadow: 0 0 .25rem #000;*/
	    opacity: .3;
	    // top: 1.2rem;
	    top: 120px;
	    left: 0;
	    right: 0;
	    z-index: 0;
	}

	.ryan-datepicker-v3 .rdp-container {
	    background-color: transparent;
	    z-index: 1;
	    font-size:0;
	}

	.ryan-datepicker-v3 .rdp-container > li {
	    display: inline-block;
	    vertical-align: top;
	    width: 24%;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    text-align: center;
	    height:200px;
	    overflow: hidden;
	    cursor: default;
	    background-color: transparent;
	}
	.ryan-datepicker-v3 .rdp-container > li:nth-child(2){
	    width: 23%;
	}
	.ryan-datepicker-v3 .rdp-container > li:nth-child(3){
	    width: 23%;
	}
	.ryan-datepicker-v3 .rdp-container > li:nth-child(4){
	    width: 26%;
	}

	.ryan-datepicker-v3 .rdp-item {
	    display: block;
	    background-color: transparent;
	}

	.ryan-datepicker-v3 .rdp-item > li {
	    display: block;
	    line-height: 40px;
	    vertical-align: top;
	    background-color: transparent;
	    font-size:16px;
	}


	.ryan-datepicker-v3 .rdp-item > .prevent {
	    color: #ccc;
	}

	body.rdp-open {
	    position: fixed;
	    width: 100%;
	}

	.yh-form-box {
	    margin: 0.07rem 0.06rem 0;
	}

	.yh-form-box ul {
	    background-color: #fff;
	    border: 1px solid #eed0aa;
	    -webkit-border-radius: 0.25rem;
	    border-radius: 0.25rem;
	}

	.yh-form-box li {
	    font-size: 0.14rem;
	    border-bottom: 1px solid #e6dac6;
	}

	.yh-form-box li:last-child {
	    border-bottom: none;
	}

	.yh-form-box li .left {
	    width: 0.77rem;
	    text-align: center;
	    color: #6f0011;
	    height: 0.35rem;
	    line-height: 0.35rem;
	}

	.yh-form-box li input {
	    border: none;
	    outline: none;
	    width: 96%;
	}

	.yh-form-box li .auto {
	    color: #666666;
	    height: 0.35rem;
	    line-height: 0.35rem;
	}

	.yh-form-box li .sex {
	    overflow: hidden;
	    line-height: 0.35rem;
	}

	.yh-form-box li .sex input {
	    display: none;
	}

	.yh-form-box li .sex input:checked + span {
	    color: #fff;
	    background-color: #9d2e41;
	}

	.yh-form-box li .sex .gdm {
	    margin-right: 0.78125rem;
	}

	.yh-form-box li .sex span {
	    display: inline-block;
	    width: 1.625rem;
	    height: 1.625rem;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	    border: 1px solid #eedbcb;
	    background-color: #fffbf2;
	    text-align: center;
	    color: #666;
	    line-height: 1.625rem;
	}

	.yh-form-box .cale {
	    background: red 96% center no-repeat;
	    background-size: 0.8125rem;
	}

	.yh-form-box .cale input {
	    width: 88%;
	}

	.yh-form-box .submit {
	    font-size: 0.12rem;
	    text-align: center;
	}

	.yh-form-box .submit p {
	    color: #ba977a;
	    line-height: 0.35rem;
	}

	.yh-form-box .submit span {
	    color: #ffc000;
	}

	.yh-form-box .submit div {
	    width: 2.5rem;
	    margin: 0 auto;
	}

	.yh-form-box .submit a {
	    margin-top: 0.15rem;
	    display: inline-block;
	    color: #ffc000;
	    text-decoration: underline;
	}
	/*选择日期结束*/

//首页弹窗
.mContent{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99999;
    .mTitle{
        height: 44px;
	    line-height: 44px;
	    background: #d03e41;
	    color: #fff;
	    font-size: 16px;
	    border-bottom: 1px solid #d0cece;
	    text-align: center;
	    letter-spacing: 2px;
    }
    .mBody{
        background: #fff;
	    font-size: .32rem;
	    text-align: center;
	    padding: 34px 0;
        .p0{
        	color:#2e2e2e;margin-bottom:10px;
        }
        .p1{
        	color: #595959;line-height:30px;
            span{
            	font-size:14px;
            	color: #b93235;
            	font-family: '微软雅黑', YaHei, tahoma, arial, "Hiragino Sans GB", \5b8b\4f53;
            }
        }
        .btn-wrapper{
    	    margin-top: 9px;
		    // overflow: hidden;
            .btn{
                display: inline-block;
                height: .8rem;
                line-height: .8rem;
                width: 2.5rem;
                text-align: center;
                border-radius: .1rem;
                -webkit-border-radius: .1rem;
                &.btn0{
                	border: 1px solid #D03E41;color: #D03E41;
                }
                &.btn1{
                	background: #D03E41;color: #fff;margin-left:10px;
                }
            }
        }
    }
}